# Base de datos
DATABASE_URL="postgresql://mentorit:password@localhost:5433/mentorit_db"

# NextAuth
NEXTAUTH_SECRET="cambia_esto_por_un_secret_largo_y_aleatorio"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (opcional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Gemini
GEMINI_API_KEY="tu_api_key_aqui"
